@page
@model RazorPagesTemplate.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.HomeTeamName" class="control-label"></label>
                <input asp-for="Game.HomeTeamName" class="form-control" />
                <span asp-validation-for="Game.HomeTeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.AwayTeamName" class="control-label"></label>
                <input asp-for="Game.AwayTeamName" class="form-control" />
                <span asp-validation-for="Game.AwayTeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.HomeTeamGoals" class="control-label"></label>
                <input asp-for="Game.HomeTeamGoals" class="form-control" />
                <span asp-validation-for="Game.HomeTeamGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.AwayTeamGoals" class="control-label"></label>
                <input asp-for="Game.AwayTeamGoals" class="form-control" />
                <span asp-validation-for="Game.AwayTeamGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Referee" class="control-label"></label>
                <input asp-for="Game.Referee" class="form-control" />
                <span asp-validation-for="Game.Referee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
